* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-weight: 400; /*for light*/
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
  --list-color: #008000;
}

.dark-theme {
  --primary-color: #000106;
  --secondary-color: #fff;
  --list-color: #adff2f;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-justify {
  text-align: justify;
}

body {
  width: 100rem;
  background-color: var(--primary-color);
  max-width: 100%;
  margin: auto; /* to make it center */
  box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0rem 0.1rem #c4c4c4;
}

nav {
  padding: 20px 0;
  margin: 0 auto;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

nav ul a li {
  margin-left: 1.5rem;
  color: var(--secondary-color);
  transition: all 0.2s linear;
  cursor: pointer;
}

nav ul a li:hover {
  color: var(--list-color);
  transform: scale(1.1);
}

#icon {
  width: 2rem;
  margin-left: 1.5rem;
  cursor: pointer;
  color: var(--secondary-color);
}

#logo {
  margin-right: 10rem;

  color: #008000;
  cursor: pointer;
  margin-right: 0;
  height: 70px;
  width: 80px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.hero__section {
  padding: 5rem;
}

.hero__content {
  color: var(--secondary-color);
}

.coming-soon-img {
  width: 50%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  color: var(--secondary-color);
  padding: 2rem;
}

.social-media-icon i {
  margin-left: 1rem;
}

@media screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;

    align-items: center;
  }

  nav ul a li {
    margin: 5px 0;
  }

  .hero__content h1 {
    font-size: 1.5rem;
  }

  .coming-soon-img {
    min-width: 90%;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }

  footer,
  p,
  div {
    margin: 10px 0;
  }
}
